*{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    

    
}

.banner-sec{
    height: 800px;
    width: 100%;
    background-image: url(/new-year-new-me-main/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.header-sec{
    position: relative;
    
    
}

.title-area{
    position: relative;
    float: right;
    margin-top: 233px;
    margin-right: 230px;
    
}

.title-area h1{
    font-size: 50px;
    font-weight: 900;
    text-align: end;
    
}

.title-area p{
 margin-top: 40px;
 position: relative;
 text-align: end;
 color: #444343;
    
}


.top-btn :hover{
    background-color: #f6480e;
    transition: .5s;
}
.top-button{
    position: relative;
    padding: 15px 20px;
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5px;
   float: right;
   margin-top: 30px;
   cursor: pointer;
}

/* 
===========================================
           main-section
========================================= */
.bodie-sec{
    position: relative; 
    display: flex;
    justify-content: space-around;
}

.person-img{
    margin-top: 150px;
    margin-left: 230px;
}

.chek-mark{
    display: flex;
    gap: 10px;
}

.short-text{
    margin-top: 375px;
    margin-right: 330px;
   
    
}
.short-text-child h1{
    font-weight: 900;
    line-height: 45px;
   font-size: 37px;
  
}
.short-text-child p{
    margin-top: 30px;
    line-height: 25px;
}

.icons-text{
    line-height: 35px;
    margin-top: 30px;
    margin-left: 20px;
}

.footer-icon{
    margin-top: 160px;
    margin-bottom: 130px ;
}
.footer-icon h1{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
}

.course-icon-parent{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
  
}

.course-icon h2{
    margin-top: 20px;
   
}
.course-icon {
    position: relative;
   text-align: center;
}
.course-icon p {
  margin-top: 15px;
  font-weight: 550;
  color: #444343;
}


.course-icon img{
    position: relative;
    justify-content: center;
   
}


.bottom-icon{
    position: relative;
    justify-content: center;
    
}


.footer-banner{
    width: 1100px;
    height: 300px;
    background-image: url(/new-year-new-me-main/images/watch.png);
    background-size: 1100px 500px;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 20%;
    margin-bottom: 130px;
}

.gradient2{
    position: relative;
    
}

.gradient2 img{
    position: absolute;
    opacity: .8;

}


.gradient-text h2{
    position: relative;
    color: #ffffff;
    font-weight: 900;
    font-size: 35px;
    padding-top: 35px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.bottom-btn{
    position: relative;
}
.bottom-btn :hover{
   background: #dfdede;
   transition: .5s;
 
}

.footer-button{
  
    border-radius: 5px;
    border: none;
    margin-left: 60px;
    padding: 20px;
    width: 120px;
    background:#fffefe;
    color:#F15B22 ;
    font-weight: 800;
    cursor: pointer;
}


.end-sec{
    height: 520px;
    width: 100%;
    background: #000;
    color: #fffefe;
    position: relative;
}

.end-icon {
  display: flex;
  gap: 25px;
}

.left-area{
    width: 50%;
    padding-top: 50px;
    margin-left: 230px;
}
.text-area h1{
    font-family:sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
}
.text-area p{
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.email h4{
    margin-bottom: 70px;
}
footer{
    display: flex;
    height: 520px;
    width: 100%;
    background: #000;
    color: #fffefe;
    position: relative;
}


.right-area{
    margin-right: 230px;
    margin-top: 130px;
}


.subscribe{
    font-size: 25px;
    margin-bottom: 25px;
}
.mail-holder input{
    padding: 10px;
    background: #000;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #ffffff;
    
}



.subscribe-btn input{
    padding: 10px 20px;
    border-radius: 5px;
    width: 110px;
    background-color:#ffffff;
    color: #F15B22;
    border:none;
    cursor: pointer;
}   
.subscribe-btn :hover{
    background-color:#e2e0e0;
    color:#fa5503 ;
    transition: .5s;
    font-size: 20px;
}

























